.choice-theme
    padding: 15px
    border: 1px solid #000
    display: flex
    flex-direction: column
    &__name
        text-decoration: none
        display: inline-block
        margin-bottom: 10px
        font-size: 2em
    &__list
        flex: 1