@import "../../styles/variables"

.choice-list
    padding: 0
    list-style-type: none
    list-style-position: inside
    &__item
        margin: 4px 0
        display: flex
        border-left: 8px solid #ccc
        &.active
            border-left-color: $primaryColor
        &--dots
            border: none
    &__value
        padding: 0 5px
        margin: 0
        word-break: break-word
        &.empty
            color: #ccc

