@import "../../styles/breakpoints"
$gap: 7.5px
.grid-list
    display: flex
    list-style: none
    padding: 0
    margin: -$gap
    flex-wrap: wrap
    flex-direction: column
    margin-bottom: $gap
    &:last-child
        margin-bottom: -$gap
    &__item
        @media (min-width: $breakpoint-md)
            min-width: calc( (100% / 2) - (2 * $gap) )
        @media (min-width: $breakpoint-lg)
            min-width: calc( (100% / 3) - (2 * $gap) )
        margin: $gap
        flex: 1
        & > *
            height: 100%
            box-sizing: border-box
    @media (min-width: $breakpoint-md)
        flex-direction: row
