@import "../../styles/variables"
@import "../../styles/breakpoints"
$padding: 5px
$wrapSize: 20px
.search
    $root: &
    display: flex
    align-items: center
    margin-left: auto
    line-height: 1
    width: $wrapSize
    position: relative
    height: $wrapSize + $padding * 2
    &.active
        #{$root}__icon
            fill: $primaryColor
        #{$root}__input
            color: $primaryColor
            &::placeholder
                color: $primaryColor
        #{$root}__button
            cursor: auto
        #{$root}__form-wrap
            background-color: #fff
            width: auto
            @media (min-width: $breakpoint-md)
                width: 300px
            overflow: visible
    &__button
        cursor: pointer
        height: $wrapSize
        width: $wrapSize
        outline: none
        border: none
        background: none
        padding: 0
        margin: 0
        flex: none
        position: relative
        z-index: 1
    &__icon
        fill: $secondaryColor
    &__input
        display: block
        padding: 0
        outline: none
        border: none
        background: none
        color: $secondaryColor
        flex: 1
        height: 100%
        font-size: 1rem
        &::placeholder
            color: $secondaryColor
    &__result-list
        position: absolute
        left: 0
        right: 0
        top: 100%
        background-color: $secondaryColor
        margin: 0
        padding: 0
        list-style-type: none
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
        z-index: -1
        border-top: 1px solid $primaryColor
    &__result-item
        padding: 5px
        & a
            display: block
            color: $primaryColor
    &__form
        margin: 0 $padding
        width: 100%
        height: 100%
        display: block
    &__form-wrap
        display: flex
        align-items: center
        overflow: hidden
        line-height: 1
        width: $wrapSize
        position: absolute
        right: 0
        top: 0
        bottom: 0
        transition: all .5s
        padding: $padding
        box-sizing: border-box
    &__clear-btn
        height: $wrapSize
        width: $wrapSize
    &__link
        font-size: 1.5rem
        font-weight: 700
