.theme-form
    background-color: #fff
    padding: 15px
    position: relative
    & input
        border: none
        border-bottom: 1px solid #025259
        border-left: 7px solid #025259
        outline: none
        background: none
        min-width: 0px
        padding: 3px
        &:focus
            background-color: #eee
    &__title
        font-size: 1.5em
        font-weight: 700
        margin: 0 0 15px
    &__name
        margin-bottom: 25px
        // font-size: 1.5em
    &__warn
        font-size: 0.7em
        color: #f00
        padding: 3px
    &__list
        list-style-type: none
        margin: 0 0 5px
        padding: 0
    &__list-item
        margin-bottom: 8px
        &:last-child
            margin-bottom: 0
    &__remove-btn
        height: 20px
        width: 20px
        vertical-align: middle
    & &__add-btn
        height: 20px
        width: 20px
        margin-bottom: 15px
    & &__submit-btn
        font-size: 1.5em
        font-weight: 700
        display: block
